body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.card{
    width: 30rem;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.logo{
    width: 3.5rem;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #8b8b8b;
}